@charset "UTF-8";
/* twitter_image */
.control { display: flex; align-items: flex-end; margin: 0 0 12px; transition: opacity .2s; }

.control.wait { pointer-events: none; opacity: .5; }

.control .options { width: 380px; max-width: 100%; margin-right: 1em; }

.control .options .heading { margin: 0; font-size: 1.5rem; }

.control .options .heading output { font-weight: bold; }

.control .options input[type="range"] { margin: .5em 0; }

.control .button { margin: 0 0 0 auto; }

.control .button button { padding: 0 1.2em; height: 32px; font-size: 1.6rem; font-weight: bold; }

.dropContent .fileInfo { margin: 1em 0; padding: 0 1em; font-size: 1.5rem; text-align: center; animation: fadeIn .4s; }

.outputContent { overflow-x: auto; overflow-y: hidden; height: 0; margin-top: 1em; background: #eee; border-radius: 4px; text-align: center; transition: height .3s; box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.15); }

.outputContent.reset { margin: 0; transition: none; }

.outputContent .innerBody { padding: 20px; }

.outputContent .message { margin: 0; color: #f33; font-weight: bold; }

.outputContent .message + .imgContent { margin-top: 20px; }

.outputContent .dlBtn { margin-bottom: 12px; }

.outputContent .dlBtn a { display: inline-block; height: 28px; padding: 0 12px; line-height: 28px; color: #333; font-weight: bold; text-align: center; text-decoration: none; background: #fff; border: 2px #655c98 solid; border-radius: 4px; transition: all .2s; }

.outputContent .dlBtn a:hover { background: #e7e6ef; }

.outputContent .outputImage img { display: block; margin: 0 auto; }

.consoleBody { margin: 1.5em 0; }

.consoleBody .console { overflow: hidden; white-space: pre-wrap; word-wrap: break-word; margin-bottom: 0; padding: .8em 1em; background: #eee; font-size: 1.4rem; line-height: 1.2; border-radius: 4px; box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.15); font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace, serif; }

@media screen and (max-width: 375px) { .control .optipng small { display: block; } }

@media screen and (max-width: 1280px) { .dropContent figure img { width: 20vw; }
  .dropContent label::after { display: block; margin-top: 1.2em; font-size: 1.4rem; content: "ここをタップして画像を選択してください"; }
  .dropContent p { display: none; }
  .outputContent { overflow: hidden; }
  .outputContent.reset { transition: none; }
  .outputContent .innerBody { padding: 1.2em; }
  .outputContent .message { font-size: 1.4rem; }
  .outputContent .dlBtn { margin-bottom: 1em; }
  .outputContent .dlBtn a { transition: none; }
  .outputContent .dlBtn a:hover { background: #fff; }
  .outputContent .outputImage img { max-width: 100%; } }
