// compileCompact: ../css/$1.css
@charset "utf-8";

@import "module";

/* base */

html {
  font-size: 62.5%; /* 1em = 10px */
}
body {
  font: 1.6em / 1.4 "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ" , "Meiryo", sans-serif;
  color: $fontColor;
  background: #eee;
  margin: 0;
  padding: 1.5em 1em;
}
main {
  overflow: hidden;
  display: block;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px 10px;
  background: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 0 rgba(#000, .15);
  animation: slideIn .4s ease-out, fadeIn .4s ease-in-out;

  &.wide {
    max-width: 1280px;
  }
}

::selection {
  background: $pointColor;
}
::-moz-selection {
  background: $pointColor;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: .7em;
  padding: 0 0 .1em;
  border-bottom: 1px solid #ccc;

  &:first-of-type ~ h2 {
    margin-top: 1.5em;
  }
}

h3 {
  font-size: 1.8rem;
  margin: 1.2em 0 .8em;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;

  &:link, &:visited {
    color: $themeColor;
  }
  &:hover {
    text-decoration: underline;
  }
  &[target="_blank"]::after {
    display: inline-block;
    position: relative;
    top: .1em;
    z-index: 0;
    height: .9em;
    width: 1em;
    margin-left: .2em;
    background: url("/images/icon_blank.svg") no-repeat 50% 50% / contain;
    content: "";
  }
  &[href^="#"]:not([href="#"])::before {
    margin-left: .1em;
    content: "#";
  }
}

/* list */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  padding: 0;
}
dt {
  font-weight: bold;
}
dd + dt {
  margin-top: .5em;
}

.squareList {
  list-style-type: square;
  margin-left: 1.5em;

  li {
    font-size: 1.4rem;

    &:first-child ~ li {
      margin-top: .25em;
    }
  }
}

.snsButton {
  display: flex;
  align-items: center;
  margin: 1.5em 0 1em;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1;

  li {
    overflow: hidden;
    display: block;
    height: 21px;
    margin: 0 10px 0 0;
  }

  iframe {
    height: 21px;
    vertical-align: bottom;
  }
}

/* contents */

section {
  margin: 1.5em 0;
}

.topicPath {
  margin-top: 1em;

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #666;
    font-size: 1.2rem;
    line-height: 1;

    li {
      display: inline-block;

      &:first-child ~ li::before {
        display: inline-block;
        width: 1em;
        height: .8em;
        margin-right: .2em;
        background: url("/images/parts_greater.svg") no-repeat 50% 50% / contain;
        vertical-align: middle;
        content: "";
      }
    }
  }
}

.description {
  margin: 1em 0;
}

.flexList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em 0;

  li {
    width: calc(50% - .5em);
    margin-top: 1em;

    &:first-child,
    &:nth-child(2) {
      margin: 0;
    }
  }

  h3 {
    font-size: 1.8rem;
    margin: 0 0 .4em;
  }

  a {
    display: block;
    position: relative;
    height: 100%;
    padding: 1em 1.4em;
    background: rgba(#000, .03);
    border: 1px solid rgba(#000, .06);
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    transition: background .2s;

    &:hover {
      background: rgba($themeColor, .12);
    }
  }

  p {
    margin: 0;
    color: $fontColor;
    font-size: 1.5rem;
  }
}

.flexSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .flexContent {
    width: calc(50% - 12px);
  }
}

.dropContent {
  input[type="file"] {
    display: none;
  }

  label {
    display: block;
    padding: 20px;
    background: $pointColor;
    border-radius: 4px;
    border: 4px $themeColor dashed;
    text-align: center;
    cursor: pointer;
    @include userSelect;
    transition: opacity .2s, filter .2s;

    &:active,
    &.over {
      filter: brightness(.85);
    }

    &.wait {
      pointer-events: none;
      opacity: .5;
    }
  }

  figure {
    margin: 0;
    pointer-events: none;

    img {
      max-width: 60px;
      vertical-align: bottom;
    }
  }

  p {
    margin: 15px 0 0;
    font-size: 1.3rem;
    pointer-events: none;
  }
}

/* form */

%inputDefault {
  padding: 0 .4em;
  border: 2px solid rgba($themeColor, .8);
  background: #fff;
  color: $fontColor;
  font-size: 1em;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: all .2s;
}
%inputFont {
  @include monoFont;
}
%inputHover {
  border-color: $themeColor;
}
%inputFocus {
  border-color: $themeColor;
  box-shadow: 0 0 4px $themeColor;
}
%inputActive {
  box-shadow: 0 0 3px #aaa inset;
}

input:not([type="range"]) {
  @extend %inputDefault;

  &:hover {
    @extend %inputHover;
  }
  &:focus {
    @extend %inputFocus;
  }
  &:not([type="button"]) {
    @extend %inputFont;
  }
  &[type="button"] {
    @include userSelect;
    cursor: pointer;

    &:hover {
      background: rgba($themeColor, .1);
    }
    &:active {
      @extend %inputActive;
    }
  }
  &[type="checkbox"] {
    display: none;

    + label {
      @extend %inputDefault;
      @include userSelect;
      display: inline-block;
      position: relative;
      padding: 6px 6px 7px 30px;
      font-size: 1.5rem;
      line-height: 1;
      cursor: pointer;

      &:hover {
        @extend %inputHover;
        background: rgba($themeColor, .1);
      }
      &:focus {
        @extend %inputFocus;
      }

      &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4px;
        width: 20px;
        height: 20px;
        margin: auto 0;
        background: rgba($themeColor, .45);
        border-radius: 2px;
        content: "";
        transition: all .2s;
      }
      &::after {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4px;
        width: 20px;
        height: 20px;
        margin: auto 0;
        background: url("/images/parts_check.svg") no-repeat 50% 50% / 14px 14px;
        opacity: 0;
        transform: scale(1.5);
        content: "";
        transition: all .2s;
      }
    }

    &:checked {
      + label {
        &::before {
          background: rgba($themeColor, .8);
        }
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

select, textarea {
  @extend %inputDefault;

  &:hover {
    @extend %inputHover;
  }
  &:focus {
    @extend %inputFocus;
  }
}

textarea {
  @extend %inputFont;
}

button {
  @extend %inputDefault;
  @include userSelect;
  cursor: pointer;

  &:hover {
    @extend %inputHover;
    background: rgba($themeColor, .1);
  }
  &:focus {
    @extend %inputFocus;
  }
  &:active {
    @extend %inputActive;
  }
}

/* range */

@mixin rangeTrack {
  width: 100%;
  height: 3px;
  border: none;
  border-radius: 6px;
  background: #aaa;
}
@mixin rangeThumb {
  @include formStyleReset;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background: $themeColor;
  cursor: pointer;
}

input[type="range"] {
  @include formStyleReset;
  width: 100%;
  height: 15px;
  padding: 0;
  outline: none;
  border: none;
  box-shadow: none;

  &::-webkit-slider-runnable-track {
    @include rangeTrack;
    margin: 6px 0;
  }
  &::-moz-range-track {
    @include rangeTrack;
  }
  &::-ms-track {
    @include rangeTrack;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    @include rangeThumb;
    margin-top: -6px;
  }
  &::-moz-range-thumb {
    @include rangeThumb;
  }
  &::-ms-thumb {
    @include rangeThumb;
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    background: #999;
  }
}

// Edge
@supports (-ms-ime-align: auto) {
  input[type="range"] {
    box-shadow: none !important;
    background: none;

    &::-webkit-slider-thumb {
      margin-top: 0;
    }
  }
}

/* keyframes */

.rotate {
  animation: rotateBody 2s cubic-bezier(.23, 1, .32, 1);
}

@keyframes slideIn {
  0% {
    transform: translate3d(0, -15px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateBody {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2190deg);
  }
  100% {
    transform: rotate(2160deg);
  }
}


/* for sp */

@media screen and (max-width: 1280px) {
  body {
    margin: .8em .8em 2em;
    font-size: 1.4rem;
  }

  main {
    padding: 0 1.2em .6em;
  }

  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }

  .flexList {
    h3 {
      font-size: 1.7rem;
      line-height: 1.2;
    }

    a {
      padding: .8em 1em;
    }

    p {
      font-size: 1.3rem;
    }
  }
}
