@charset "utf-8";

$contentWidth: 960px;

$themeColor: #655c98;
$pointColor: #e7e6ef;

$themeColorDark: #9d92df;
$pointColorDark: #454257;

@mixin monoFont {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace, serif;
}

@mixin userSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin formStyleReset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
