<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SVG to PNG</title>
<meta name="description" content="SVG形式をPNG形式に変換します">
<meta name="author" content="幸乃ととめ">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="/css/main.css?2019030412" rel="stylesheet">
<link href="/css/svg2png.css" rel="stylesheet">
</head>
<body>
<main>
  <aside class="topicPath">
    <ol>
      <li><a href="/">ものおき</a></li>
      <li>SVG to PNG</li>
    </ol>
  </aside>

  <h1>SVG to PNG</h1>
  <p class="description">SVG形式をPNG形式に変換します。</p>

  <section class="flexSection">
    <div class="dropContent flexContent">
      <label for="fileInput"
        :class="{over, wait}"
        @dragover.prevent="dragover"
        @dragleave="over = false"
        @drop.prevent="readFile">
        <figure><img src="/images/icon_svg.svg" alt="SVGファイル"></figure>
        <p>
          SVGファイルをここにドラッグ＆ドロップしてください<br>
          クリックしてSVGファイルを選択することもできます
        </p>
      </label>
      <input type="file" accept=".svg,.svgz" id="fileInput" @change="change">
    </div>

    <div class="options flexContent">
      <fieldset class="scaleBlock">
        <legend>サイズ指定</legend>

        <div class="radioBlock">
          <input type="radio" name="size" value="relative" id="sizeRange" v-model="type">
          <label for="sizeRange">倍率で指定する</label>

          <div class="radioContent">
            倍率：<output for="scaleRange" v-cloak>{{ scale }}</output>
            <input type="range"
              min="0.1" max="5" step="0.1" value="1"
              id="scaleRange"
              v-model="scale">
          </div>
        </div>

        <div class="radioBlock">
          <input type="radio" name="size" value="absolute" id="inputSize" v-model="type">
          <label for="inputSize">手入力で指定する</label>

          <div class="radioContent">
            <label>width: <input type="number" placeholder="auto" v-model="width"></label>
            <label>height: <input type="number" placeholder="auto" v-model="height"></label>
          </div>
        </div>
      </fieldset>
    </div>

    <div id="output" class="flexContent full outputContent" :class="{reset}" :style="{height}">
      <div class="innerBody" ref="body">
        <p class="message" v-if="message">{{ message }}</p>
        <div class="imgContent" v-if="image">
          <div class="dlBtn"><a :href="image" :download="fileName">Download</a></div>
          <div class="outputImage"><img alt="output image" :src="image"></div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <p>&copy; 2019 @amamamaou</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js?v1.0.6"></script>
</body>
</html>
