<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Convert to JPEG</title>
<meta name="description" content="画像をブラウザ上でJPEGに変換します。">
<meta name="author" content="幸乃ととめ">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="/css/main.css?2019030611" rel="stylesheet">
<link href="/css/convert.css?2019030819" rel="stylesheet">
</head>
<body>
<main>
  <aside class="topicPath">
    <ol>
      <li><a href="/">ものおき</a></li>
      <li>Convert to JPEG</li>
    </ol>
  </aside>

  <h1>Convert to JPEG</h1>
  <p class="description">画像をブラウザ上でJPEGに変換します。</p>

  <section>
    <p>複数の画像を変換する場合、画質の設定は変換開始時の値が適用されます。Edgeでは動きません。<br>
    画質が 100% かつ、画像形式がJPEGの場合は最適化（軽量化）を行います。</p>

    <div id="control" class="control">
      <div class="options">
        <p class="heading">画質：<output for="qualityRange" v-cloak>{{ quality }}%</output></p>
        <input type="range"
          min="0" max="100" step="1" value="90"
          id="qualityRange"
          v-model="quality">
      </div>
      <div class="button" :class="{wait}">
        <button @click="clear">Clear</button>
      </div>
    </div>

    <div id="dropArea" class="dropContent">
      <label for="fileInput"
        :class="{over, wait}"
        @dragover.prevent="dragover"
        @dragleave="over = false"
        @drop.prevent="readFile">
        <figure><img src="/images/icon_image.svg" alt="画像ファイル"></figure>
        <p v-cloak>
          複数の画像ファイルをここにドラッグ＆ドロップしてください<br>
          クリップボードの画像のペースト (Ctrl+V / ⌘V) や、クリックして画像ファイルを選択することもできます<br>
          ひとつの画像の最大許容サイズは {{ maxMB }}MB (BMP形式は {{ maxMB * 2 }}MB) までです
        </p>
      </label>
      <input type="file"
        accept="image/bmp,image/gif,image/jpeg,image/png,image/webp"
        id="fileInput"
        @change="change"
        multiple>
    </div>

    <div id="download" class="dlSection" v-show="visibility" v-cloak>
      <small v-if="sp">スマホでは画像長押しで保存してください</small>
      <template v-else>
        <button @click="download" class="dlBtn" :class="status">一括ダウンロード (.zip)</button>
        <small>画像の合計サイズによってはダウンロード開始まで時間がかかります。</small>
      </template>
    </div>

    <div id="output" class="outputContent">
      <ul v-if="items.length > 0" v-cloak>
        <li v-for="item in items" :class="item.status">
          <template v-if="item.status === 'completed'">
            <div v-if="sp" class="itemBody">
              <img ref="image" :src="item.src" :alt="item.name">
            </div>
            <a v-else
              :href="item.src"
              :download="item.name"
              class="itemBody">
              <img :src="item.src" :alt="item.name">
              <span class="tooltip">
                <span class="mainText">{{ item.name }}</span>
                <span>{{ item.orig }} → {{ item.size }}</span>
              </span>
            </a>
          </template>
          <div v-else class="itemBody">
            <img v-if="item.src" :src="item.src" :alt="item.name">
            <span v-if="item.status === 'failed'" class="tooltip">
              <span class="mainText">{{ item.reason }}</span>
              <span>{{ item.name }}</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <aside class="asideFooter">
    <p>GIF/PNG/WEBPは一度BMP形式に変換してからJPEG変換を行うため、処理に時間がかかります。<br>
    透過PNGの場合は背景が黒 <code>#000000</code> になります。</p>
    <p>JPEGの処理は <a href="https://github.com/LI-NA/mozjpeg.js" target="_blank">Mozjpeg.js</a> を使用しています。</p>
  </aside>
</main>
<footer>
  <p>&copy; 2019 @amamamaou</p>
</footer>

<script src="main.js?1.7.7" type="module"></script>
</body>
</html>
