<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Optping - PNG Optimizer</title>
<meta name="description" content="PNG画像をブラウザ上で最適化します">
<meta name="author" content="幸乃ととめ">
<meta property="og:title" content="Optping - PNG Optimizer">
<meta property="og:type" content="website">
<meta property="og:url" content="https://amamamaou.github.io/optipng/">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@amamamaou">
<meta name="twitter:title" content="Optping - PNG Optimizer">
<meta name="twitter:description" content="PNG画像をブラウザ上で最適化します">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="canonical" href="https://amamamaou.github.io/optipng/">
<link rel="stylesheet" href="/css/main.css?2018121317">
<link rel="stylesheet" href="/css/optipng.css?2018121717">
</head>
<body>
<main>
  <aside class="topicPath">
    <ol>
      <li><a href="/">ものおき</a></li>
      <li>Optipng - PNG Optimizer</li>
    </ol>
  </aside>

  <h1>Optipng - PNG Optimizer</h1>
  <p class="description">PNG画像をブラウザ上で最適化します。</p>

  <ul class="snsButton">
    <li>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
      <script src="https://platform.twitter.com/widgets.js" charset="utf-8" async></script>
    </li>
    <li>
      <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20"></a>
      <script src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async></script>
    </li>
    <li>
      <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="ja"></a>
      <script id="pocket-btn-js" src="https://widgets.getpocket.com/v1/j/btn.js?v=1" async></script>
    </li>
  </ul>

  <section>
    <p>0 はメタ情報の最適化のみを行います。通常は 1 ～ 5 で指定してください。最適なレベルは 2 です。<br>
    レベルを高くしても画像によっては結果が変わらない場合があります。</p>

    <div id="control" class="control" :class="{wait}">
      <div class="options">
        <p class="heading">最適化レベル：<output for="levelRange" v-cloak>{{ level }}</output></p>
        <input type="range"
          min="0" max="7" step="1" value="2"
          id="levelRange"
          v-model="level">
      </div>
      <div class="button">
        <button @click="dropReset">Reset</button>
      </div>
    </div>

    <div id="dropArea" class="dropContent">
      <label for="fileInput"
        :class="{over, wait}"
        @dragover.prevent="dragover"
        @dragleave="over = false"
        @drop.prevent="readFile">
        <figure><img src="/images/icon_image.svg" alt="画像ファイル"></figure>
        <p v-cloak>
          画像ファイルをここにドラッグ＆ドロップしてください<br>
          クリップボードの画像のペースト (Ctrl+V / ⌘V) や、クリックして画像ファイルを選択することもできます<br>
          最大許容サイズは {{ maxMB }}MB までです
        </p>
      </label>
      <input type="file" accept="image/png" id="fileInput" @change="change">
      <div class="fileInfo" v-if="fileName" v-cloak>Input image: <b>{{ fileName }} ({{ size }})</b></div>
    </div>

    <div id="output" class="outputContent" :class="{reset}" :style="{height}">
      <div class="innerBody" ref="body">
        <p class="message" v-if="message">{{ message }}</p>
        <div class="imgContent" v-if="image">
          <div class="dlBtn">
            <a :href="image" :download="fileName">Download ({{ size }})</a>
          </div>
          <div class="outputImage"><img alt="output image" :src="image"></div>
        </div>
      </div>
    </div>
  </section>

  <aside id="console" class="consoleBody">
    <h6>Console</h6>
    <pre class="console" v-cloak>{{ console }}</pre>

    <p>PNGの最適化処理には <a href="https://github.com/LI-NA/optipng.js" target="_blank">Optipng.js</a> を使用しています。</p>
  </aside>
</main>
<footer>
  <p>&copy; 2018 @amamamaou</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js?v0.0.6"></script>
</body>
</html>
