<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Optping - PNG Optimizer</title>
<meta name="description" content="PNG画像をブラウザ上で最適化します">
<meta name="author" content="幸乃ととめ">
<meta property="og:title" content="Optping - PNG Optimizer">
<meta property="og:type" content="website">
<meta property="og:url" content="https://amamamaou.github.io/optipng/">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@amamamaou">
<meta name="twitter:title" content="Optping - PNG Optimizer">
<meta name="twitter:description" content="PNG画像をブラウザ上で最適化します">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="canonical" href="https://amamamaou.github.io/optipng/">
<link rel="stylesheet" href="/css/main.css?2019030611">
<link rel="stylesheet" href="/css/optipng.css?20190227">
</head>
<body>
<main>
  <aside class="topicPath">
    <ol>
      <li><a href="/">ものおき</a></li>
      <li>Optipng - PNG Optimizer</li>
    </ol>
  </aside>

  <h1>Optipng - PNG Optimizer</h1>
  <p class="description">PNG画像をブラウザ上で最適化します。Edgeでは動きません。</p>

  <ul class="snsButton">
    <li>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
      <script src="https://platform.twitter.com/widgets.js" charset="utf-8" async></script>
    </li>
    <li>
      <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20"></a>
      <script src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async></script>
    </li>
    <li>
      <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="ja"></a>
      <script id="pocket-btn-js" src="https://widgets.getpocket.com/v1/j/btn.js?v=1" async></script>
    </li>
  </ul>

  <section>
    <p>0 はメタ情報の最適化のみを行います。通常は 1 ～ 5 で指定してください。最適なレベルは 2 です。<br>
    レベルを高くしても画像によっては結果が変わらない場合があります。</p>

    <div id="control" class="control">
      <div class="options">
        <p class="heading">最適化レベル：<output for="levelRange" v-cloak>{{ level }}</output></p>
        <input type="range"
          min="0" max="7" step="1" value="2"
          id="levelRange"
          v-model="level">
      </div>
      <div class="button" :class="{wait}">
        <button @click="clear">Clear</button>
      </div>
    </div>

    <div id="dropArea" class="dropContent">
      <label for="fileInput"
        :class="{over, wait}"
        @dragover.prevent="dragover"
        @dragleave="over = false"
        @drop.prevent="readFile">
        <figure><img src="/images/icon_image.svg" alt="画像ファイル"></figure>
        <p v-cloak>
          複数の画像ファイルをここにドラッグ＆ドロップしてください<br>
          クリップボードの画像のペースト (Ctrl+V / ⌘V) や、クリックして画像ファイルを複数選択もできます<br>
          ひとつの画像の最大許容サイズは {{ maxMB }}MB (BMP形式は {{ maxMB * 2 }}MB) までです
        </p>
      </label>
      <input type="file"
        accept="image/bmp,image/gif,image/jpeg,image/png"
        id="fileInput"
        @change="change"
        multiple>
    </div>

    <div id="download" class="dlSection" v-show="visibility" v-cloak>
      <button @click="download" class="dlBtn" :class="status">一括ダウンロード (.zip)</button>
      <small>画像の合計サイズによってはダウンロード開始まで時間がかかります。</small>
    </div>

    <div id="output" class="outputContent">
      <ul v-if="items.length > 0" v-cloak>
        <li v-for="item in items" :class="item.status">
          <a v-if="item.status === 'completed'"
            :href="item.src"
            :download="item.name"
            class="itemBody"
            target="_blank">
            <img :src="item.src" :alt="item.name">
            <span class="tooltip">
              <span class="mainText">{{ item.orig }} → {{ item.size }}<br>({{ item.decrease }}% decrease)</span>
              <span>{{ item.name }}</span>
            </span>
          </a>
          <div v-else class="itemBody">
            <img v-if="item.src" :src="item.src" :alt="item.name">
            <span v-if="item.status === 'failed'" class="tooltip">
              <span class="mainText">{{ item.reason }}</span>
              <span>{{ item.name }}</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <aside class="asideFooter">
    <p>PNG以外の形式 (BMP/GIF/JPEG) もPNGへ変換後に最適化を行いますが、特にJPEGはメモリを大量に消費する可能性があるので扱いにご注意ください。</p>
    <p>PNGの最適化処理には <a href="https://github.com/LI-NA/optipng.js" target="_blank">Optipng.js</a> を使用しています。</p>
  </aside>
</main>
<footer>
  <p>&copy; 2019 @amamamaou</p>
</footer>

<script src="main.js?v1.8.0" type="module"></script>
</body>
</html>
