<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Twitter用画像劣化回避ツール</title>
<meta name="description" content="イラストやドット絵などをTwitterにツイートするときにJPEG劣化を回避できるPNG形式に変換します。">
<meta name="author" content="幸乃ととめ">
<meta property="og:title" content="Twitter用画像劣化回避ツール">
<meta property="og:type" content="website">
<meta property="og:url" content="https://amamamaou.github.io/twitter_image">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@amamamaou">
<meta name="twitter:title" content="Twitter用画像劣化回避ツール">
<meta name="twitter:description" content="Twitterにイラストやドット絵などをツイートする際の、JPEG劣化を回避できるPNG形式へ変換します。">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/css/main.css?20181205">
<link rel="stylesheet" href="/css/twitter_image.css?20181205">
</head>
<body>
<main>
  <aside class="topicPath">
    <ol>
      <li><a href="/">ものおき</a></li>
      <li>Twitter用画像劣化回避ツール</li>
    </ol>
  </aside>

  <h1>Twitter用画像劣化回避ツール</h1>
  <p class="description">Twitterにイラストやドット絵などをツイートする際の、JPEG劣化を回避できるPNG形式へ変換します。</p>

  <ul class="snsButton">
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
    </li>
    <li>
      <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20"></a>
      <script src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async></script>
    </li>
    <li>
      <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="ja"></a>
      <script>!function(d,i){if(!d.getElementById(i)){var j=d.createElement('script');j.id=i;j.src='https://widgets.getpocket.com/v1/j/btn.js?v=1';var w=d.getElementById(i);d.body.appendChild(j);}}(document,'pocket-btn-js');</script>
    </li>
  </ul>

  <section>
    <div id="control" class="control">
      <div>
        <div class="scale">
          <select v-model="scale">
            <option value="1">× 1</option>
            <option value="2">× 2</option>
            <option value="3">× 3</option>
          </select>
          <small>拡大前 512x512 まで</small>
        </div>
        <div class="optipng">
          <input type="checkbox" id="optipng" v-model="optipng">
          <label for="optipng" tabindex="0">PNGを圧縮する<small>（時間がかかります）</small></label>
        </div>
      </div>
      <div class="button">
        <button @click="dropReset">Reset</button>
      </div>
    </div>

    <div id="dropArea" class="dropContent">
      <label for="fileInput"
        :class="{over, wait}"
        @dragover.prevent="dragover"
        @dragleave="over = false"
        @drop.prevent="readFile">
        <figure><img src="/images/icon_image.svg" alt="画像ファイル"></figure>
        <p>
          画像ファイルをここにドラッグ＆ドロップしてください<br>
          クリップボードの画像のペースト (Ctrl+V / ⌘V) や、クリックして画像ファイルを選択することもできます<br>
          最大ファイルサイズは3MBまでです
        </p>
      </label>
      <pre class="console" v-if="process">{{ process }}</pre>
      <input type="file" accept="image/*" id="fileInput" @change="change">
    </div>

    <div id="output" class="outputContent" :class="{reset}" :style="{height}">
      <div class="innerBody">
        <p class="message" v-if="message">{{ message }}</p>
        <div class="imgContent" v-if="image">
          <div class="dlBtn">
            <a :href="image" :download="fileName">Download <small>({{ size }})</small></a>
          </div>
          <div class="outputImage"><img alt="output image" :src="image"></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>ツールについて</h2>

    <p>Twitterでは透過PNGはJPEGに変換されない仕様を利用し、画像の左上1ピクセルの不透明度を99%（透明度1%）にしたPNG画像を生成して回避します。</p>

    <h3>注意事項など</h3>

    <ul class="squareList">
      <li>最新のブラウザでないと動きません。IEの人は諦めてください。</li>
      <li>画像のサイズが大きい等の理由で回避できずにJPEGに圧縮されてしまう可能性もあります。</li>
      <li>Twitterにツイートできる画像のファイルサイズは仕様により最大3MBまでです。</li>
      <li>ブラウザで画像の処理を行うのでブラウザが多少重くなる可能性もあります。</li>
      <li>PNGの圧縮処理はブラウザ上で行われるため、端末のスペックによっては時間がかかります。</li>
      <li>何かありましたら幸乃ととめ (<a href="https://twitter.com/amamamaou" target="_blank">@amamamaou</a>) まで。</li>
    </ul>

    <p>PNGの圧縮処理には <a href="https://github.com/LI-NA/optipng.js" target="_blank">Optipng.js</a> を使用しています。</p>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/js/optipng.min.js"></script>
<script src="main.js?v1.2.0"></script>
</body>
</html>
